<% if @filter_type == :string %>
  <div class="col-span-6 sm:col-span-3">
    <label for="<%= @filter %>" class="block text-sm font-medium text-gray-700"><%= @filter %></label>
    <select data-reflex="<%= @reflex %>" data-key="<%=@key%>" id="<%= @filter %>" name="<%= @filter %>" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      <% choices.each do |choice| %>
        <option value="<%= choice %>" <%= "selected" if current_value(@filter) == choice %>><%= choice %></option>
      <% end %>
    </select>
  </div>
<% end %>

<% if @filter_type == :integer %>
  <div class="col-span-6 sm:col-span-3">
    <label for="<%= @filter %>" class="block text-sm font-medium text-gray-700"><%= @filter %></label>
    <input data-reflex="<%= @reflex %>" value="<%=current_value(@filter)%>" data-key="<%=@key%>" id="<%= @filter %>" name="<%= @filter %>" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </input>
  </div>
<% end %>